#searchTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#searchTable td, #searchTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#searchTable tr:nth-child(even){background-color: #f2f2f2;}

#searchTable tr:hover {background-color: #ddd;}

#searchTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.hidden {
	display:none !important;
}

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  width: 25%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height:40px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover{
		background-color: #4CAF50;
}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}




input[type=text], select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height:40px;
}

input[type=submit]:hover {
  background-color: #45a049;
}
